{% extends 'base_template.html' %}
{% block title %}
Add Note - NoteMate
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
 

    <div class="row">
        <h1>Instructions - </h1>
        <p>
                This is a simple web application that allows you to create, edit, and delete notes.
            </p>
            <p>
                You can create a new note by clicking the "New Note" button above.
            </p>
            <p>
                You can edit a note by clicking the "Edit" button next to the note you want to edit.
            </p>
            <p>
                You can delete a note by clicking the "Delete" button next to the note you want to delete.
            </p>
    </div>

    <div class="row">
    <h2>Add Note -</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form></div>

    <div class="row">
        <div class="notes">
            {% for note in notes %}
            <div class="note">
                <h1>{{ note.title }}</h1>
                <div class="note_info">
                    <p>{{ note.user }}</p>
                    <p>{{ note.date_updated | timesince }}</p>
                <p><a href="{% url 'delete' note.id %}">delete</a></p>
                <p><a href="{% url 'edit' note.id %}">edit</a></p>
                </div>
                <p class="content">{{ note.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}