{% extends 'base_template.html' %}
{% block title %}
NoteMate - Home
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
{{ time }}
<div class="container">
    <div class="row">
        <div class="hero-section">
            <h1 class="greeting-text">Good Morning 😊, {{ request.user }}!</h1>
            <p>
                This is a simple web application that allows you to create, edit, and delete notes.
            </p>
            <p>
                You can create a new note by clicking the "New Note" button above.
            </p>
            <p>
                You can edit a note by clicking the "Edit" button next to the note you want to edit.
            </p>
            <p>
                You can delete a note by clicking the "Delete" button next to the note you want to delete.
            </p>
        </div>
    </div>

    {% for note in notes %}
    <div class="notes">
        <h1>{{ note.title }}</h1>
        <div class="note_info">
            <p>{{ note.user }}</p>
            <p>{{ note.date_updated | timesince }}</p>
        </div>
        <p class="content">
            {{ note.content }}
        </p>
    </div>
    {% endfor %}


{% endblock %}