{% extends 'base_template.html' %}
{% block title %}
NoteMate - Home
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div>
            <h1>Welcome to NoteMate, {{ request.user }}!</h1>
            <p>
                This is a simple web application that allows you to create, edit, and delete notes.
            </p>
            <p>
                You can create a new note by clicking the "New Note" button above.
            </p>
            <p>
                You can edit a note by clicking the "Edit" button next to the note you want to edit.
            </p>
            <p>
                You can delete a note by clicking the "Delete" button next to the note you want to delete.
            </p>
        </div>
    </div>

    <div class="notes">
        {% for note in notes %}
        <div class="note">
            <h4>{{ note.title }}</h4>
            <h5>{{ note.user }}</h5>
            <p>{{ note.content }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}