{% extends 'base_template.html' %}
{% block title %}
NoteMate - Home
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
{{ time }}
<div class="container">
    <div class="row">
        <div class="hero-section">
            <h1 class="greeting-text">Good Morning 😊, {{ request.user }}!</h1>
        </div>
    </div>

    {% for note in notes %}
    <div class="notes">
        <h1>{{ note.title }}</h1>
        <div class="note_info">
            <p>{{ note.user }}</p>
            <p>{{ note.date_updated | timesince }}</p>
        </div>
        <p class="content">
            {{ note.content }}
        </p>
    </div>
    {% endfor %}


{% endblock %}