{% extends 'base_template.html' %}

{% block title %}
{{ user.username }} - Notemate
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <h1>Hola, @{{ user.username }}</h1> 
        <h2>{{ number }} notes created.</h2>
        <p>

        </p>
        <div class="notes">
            
                {% for note in notes %}
            <div class="note">
                <h1>{{ note.title }}</h1>
                <div class="note_info">
                    <p>{{ note.user }}</p>
                    <p>{{ note.date_updated | timesince }}</p>
                </div>
                <p class="content">
                    {{ note.content }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}